<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>فروشگاه لباس</title>

    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
    <link rel="stylesheet" href="css/style.css" />

</head>

<body>
    <div id="ld" class="loading">صفحه در حال بارگذاری است، لطفا منتظر بمانید!</div>
    <div class="header">
        <span class="header-element store-name">گفتگو برای خرید لباس</span>
        <a class="header-element about">درباره توسعه دهندگان</a>
    </div>
    <div class="store-body">
        <div class="store fh">
            <div class="fh1 flx">
                <div id="bg-img"></div>
                <div class="store-imgs">
                </div>
            </div>
        </div>
        <div class="chat fh">
            <div class="fh1">
                <ul id="msg-ul">
                </ul>
                <div class="chat-box">
                    <textarea wrap="off" placeholder="سوال خود را بپرسید ..." dir="rtl"></textarea>
                    <button id="send">
                        ارسال
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="login" class="modal" style="padding: 10px 20%">
        <div class="modal-log-content">
            <p id="wlcm">به فروشگاه ما خوش آمدید!</p>
            <label style="font-size: 22px" for="nm">نام مشتری:</label>
            <input type="text" id="nm" name="uname" dir="rtl" placeholder="نام خود را وارد کنید...">
            <label class="container" onclick="genChoose(true)">آقا
                <input id="ml" type="radio" name="radio" checked value="male">
                <span class="checkmark"></span>
            </label>
            <label class="container" onclick="genChoose(false)">خانم
                <input id="fl" type="radio" name="radio" value="female">
                <span class="checkmark"></span>
            </label>
            <button type="button" onclick="log_in()">وارد فروشگاه شوید!</button>
        </div>
    </div>

    <div id="myModal" class="modal" style="padding: 10px 20%;">
        <span id="close1">&times;</span>
        <img class="modal-img-content" id="img01" />
    </div>

    <div id="myModal1" class="modal" style="padding: 70px;">
        <div class="modal-dev-content animate-top devs-shadow">
            <header style="direction: rtl; padding: 5px 40px; background-color: dodgerblue;">
                <p style="display: inline-block; font-size: 45px; color: white">توسعه دهندگان</p>
                <span id="close2">&times;</span>
            </header>
            <p class="devs">مریم روشنفکر</p>
            <p class="devs">مهدی حسینی مقدم</p>
            <p class="devs">جواد خدادادی</p>
            <p class="devs">امین کنعانی</p>
            <footer style="background-color: dodgerblue; color: white; text-align: left; padding: 0 40px;">
                <p style="padding: 10px 5px;">
کمپ استارپی دیجیکالانکست
                </p>
            </footer>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{url_for('static',filename='js/Script.js')}}"></script>
    <!-- <script src="js/Script.js"></script> -->
</body>

</html>
